<p-toast></p-toast>

<p-toolbar styleClass="mb-6">
            <ng-template #start>
                <p-button label="New" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openNew()" />
                <p-button severity="secondary" label="Delete" icon="pi pi-trash" outlined (onClick)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length" />
            </ng-template>

            <ng-template #end>
                <p-button label="Export" icon="pi pi-upload" severity="secondary" (onClick)="exportCSV()" />
            </ng-template>
        </p-toolbar>

        <p-table
            #dt
            [value]="taux"
            [rows]="10"
            [columns]="cols"
            [paginator]="true"
            [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
            [tableStyle]="{ 'min-width': '75rem' }"
            [(selection)]="selectedProducts"
            [rowHover]="true"
            dataKey="id"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} products"
            [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[10, 20, 30]"
        >
            <ng-template #caption>
                <div class="flex items-center justify-between">
                    <h5 class="m-0">Gestion des taux</h5>
                    <p-iconfield>
                        <p-inputicon styleClass="pi pi-search" />
                        <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..." />
                    </p-iconfield>
                </div>
            </ng-template>
            <ng-template #header>
                <tr>
                    <!-- <th style="width: 3rem">
                        <p-tableHeaderCheckbox />
                    </th> -->
                    <th style="min-width: 16rem">Devise</th>
                    <th pSortableColumn="name" style="min-width:16rem">
                        Symbole
                        <p-sortIcon field="name" />
                    </th>
                    <th>Taux actuelle</th>
                    <th pSortableColumn="price" style="min-width: 8rem">
                        Date
                        <p-sortIcon field="price" />
                    </th>
                    <th pSortableColumn="category" style="min-width:10rem">
                        +Haut
                        <p-sortIcon field="category" />
                    </th>
                    <th pSortableColumn="rating" style="min-width: 12rem">
                        +Bas
                        <p-sortIcon field="rating" />
                    </th>
                    <th pSortableColumn="inventoryStatus" style="min-width: 12rem">
                        Status
                        <p-sortIcon field="inventoryStatus" />
                    </th>
                    <th style="min-width: 12rem"></th>
                </tr>
            </ng-template>
            <ng-template #body let-rate>
                <tr>
                    <!-- <td style="width: 3rem">
                        <p-tableCheckbox [value]="product" />
                    </td> -->
                    <td style="min-width: 12rem"> {{ rate.from_currency.code }}</td>
                    <td style="min-width: 16rem">{{ rate.from_currency.symbol}}</td>
                    <td>
                        {{ rate.rate}}
                        <!-- <img [src]="'https://primefaces.org/cdn/primeng/images/demo/product/' + product.image" [alt]="product.name" style="width: 64px" class="rounded" /> -->
                    </td>
                    <td>{{ rate.updated_at | date:'dd MMM yyyy à HH:mm' }}</td>
                    <td>{{ rate.day_high }}</td>
                    <td>{{ rate.day_low }}</td>
                    <td>
                        <!-- <p-tag [value]="product.inventoryStatus" [severity]="getSeverity(product.inventoryStatus)" /> -->
                    </td>
                    <td>
                        <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" (click)="editProduct(rate)" />
                        <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="deleteProduct(product)" />
                    </td>
                </tr>
            </ng-template>
        </p-table>

        <p-dialog [(visible)]="rateDialog" [style]="{ width: '450px' }" header="Modifier le taux" [modal]="true">
            <ng-template #content>
                <div class="flex flex-col gap-6">
                    <div>
                        <label for="fromCurrency" class="block font-bold mb-3">
                            Devise vers Franc Guinéen (GNF)
                        </label>

                        <p-select
                            [(ngModel)]="rate.from_currency"
                            inputId="fromCurrency"
                            [options]="[
                                { label: 'Euro (EUR)', value: 'EUR' },
                                { label: 'Dollar US (USD)', value: 'USD' },
                                { label: 'Franc CFA (XOF)', value: 'XOF' },
                                { label: 'Livre Sterling (GBP)', value: 'GBP' }
                            ]"
                            optionLabel="label"
                            optionValue="value"
                            placeholder="Sélectionner une devise"
                            fluid
                        ></p-select>

                        <small class="text-red-500" *ngIf="submitted && !rate.from_currency">
                            La devise est obligatoire.
                        </small>
                    </div>
                    <div>
                        <label for="rate" class="block font-bold mb-3">Montant en GNF  </label>
                        <input type="text" pInputText id="rate" [(ngModel)]="rate.rate" required autofocus fluid />
                        <small class="text-red-500" *ngIf="submitted && !rate.rate">Name is required.</small>
                    </div>
                </div>
            </ng-template>

            <ng-template #footer>
                <p-button label="Annuler" icon="pi pi-times" text (click)="hideDialog()" />
                <p-button label="Valider" icon="pi pi-check" (click)="saveProduct()" [loading]="submitted" [disabled]="!rate.rate"/>
            </ng-template>
        </p-dialog>

        <p-confirmdialog [style]="{ width: '450px' }" />